body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Lexend', sans-serif;
  font-size: 200%;

}

h1{
  color: #66BFBF;
  font-size: 5.625rem;
  line-height: 2;
  margin: 50px auto 0 auto;
  width: 25%;
  font-family: 'Sacramento', cursive;

}

h2 {
  color: #66BFBF;
  font-family: 'Lexend', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Lexend', sans-serif;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6;
  border-bottom: none;
  width: 4%;
  border-width: 5px;
  margin: 100px auto;
}


.top-container {
  background-color: #E4F9F5;
  position: relative;;
  padding-top: 100px;


}
.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}


.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}
.pc {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.intro {
  width: 30%;
  margin: auto;
}
.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.chillies {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
  background: #1187d6;
  background-image: -webkit-linear-gradient(top, #1187d6, #1a648f);
  background-image: -moz-linear-gradient(top, #1187d6, #1a648f);
  background-image: -ms-linear-gradient(top, #1187d6, #1a648f);
  background-image: -o-linear-gradient(top, #1187d6, #1a648f);
  background-image: linear-gradient(to bottom, #1187d6, #1a648f);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Lexend', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #2595db;
  background-image: -webkit-linear-gradient(top, #2595db, #16527a);
  background-image: -moz-linear-gradient(top, #2595db, #16527a);
  background-image: -ms-linear-gradient(top, #2595db, #16527a);
  background-image: -o-linear-gradient(top, #2595db, #16527a);
  background-image: linear-gradient(to bottom, #2595db, #16527a);
  text-decoration: none;
}

a {
  color: #11999E;
  font-family: 'Lexend', sans-serif;
  margin: 10px 20px;
  text-decoration: none;

}

a:hover {
  color: #EAF6F6;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
